extends ../_template.pug

block variables
	- var title = 'Products Grid'

block content
	+cards({
		list: [
			{
				mods: '_type1 _company1',
				title: 'Product 1',
				subtitle: 'Company 1',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			},
			{
				mods: '_type2 _company2',
				title: 'Product 2',
				subtitle: 'Company 2',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			},
			{
				mods: '_type3 _company2',
				title: 'Product 3',
				subtitle: 'Company 2',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			},
			{
				mods: '_type4 _company2',
				title: 'Product 4',
				subtitle: 'Company 2',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			},
			{
				mods: '_type5 _company3',
				title: 'Product 5',
				subtitle: 'Company 3',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			},
			{
				mods: '_type6 _company4',
				title: 'Product 6',
				subtitle: 'Company 4',
				content: 'Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.'
			}
		]
	})