/* Color */
$color-main: #283593;
$color-text: #000;
$color-title: #484848;
$color-btn-text: #fff;
// Color button
$color-btn-bg-default: #A981CC;
$color-btn-bg-hover: #9874B8;
$color-btn-bg-focus: #8767A3;
// Color background
$color-bg-main: #f7f7f7;

/* Fonts */
$font-main: Roboto, sans-serif;
$font-title: Avenir, sans-serif;

/* Blocks */
$header: '.header';
$btn: '.btn';
$footer: '.footer';